body {
	background-color: #9FB6CD;
	margin-top: 20px;
	margin-left: 70px;
	font-size: 20px;
}

a:link { 
	color:#0000FF; text-decoration: underline 
}
a:hover { 
	color:#FF4500; text-decoration: none
}

.aprendido, .remover {
	float: right;
}

#listas{
	margin-top: 20px; 
}




